.navbar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-color);
    color: var(--black);
    z-index: 3;
}

.brand_title {
    font-size: 1.5rem;
    margin: .5rem;
    font-family: 'Secular One', sans-serif;
    display: flex;
    gap:.5em;
    align-items: center;
    cursor: pointer;
}

.logo {
    height: 2em;
}

.title_text{
    font-size: 1em;
    word-break:break-all ;
    line-height: 1em;
}

.user_status{
    font-size: .75em;
    color: white;
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    gap: .2em;
}

.status_checkmark{
    font-size: .5em;
    border-radius: 50%;
    padding: .25em;
    height: 1em;
    width: 1em;
    color: white;
    background-color: var(--green);
    margin-right: 2em;
}

.navbar_links {
    height: 100%;
}

.navbar_links ul{
    display: flex;
    gap: .5rem;
    margin: 1rem 0;
    padding: 0 1em;
    font-family: 'Heebo', sans-serif;
}

.navbar_links li {
    list-style: none;
}

.navbar_links li a {
    text-decoration: none;
    display: block;
    padding: .5rem 1rem;
    color: var(--black);
    border-style: solid;
    font-size: 1.25rem;
    border-radius: 8px;
    border-width: 1px;
    transition: .3s;
}

.navbar_links li a:hover{
    background-color: white;
    border-radius: 8px;
    border-color: white;
}

.toggle_button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    transition: .3s;
}

.toggle_button .bar1,
.toggle_button .bar2,
.toggle_button .bar3
{
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
}

@media (max-width: 1200px){
    .navbar_links ul li a {
        color: white;
        padding: .25rem .5rem;
        border-style: none;
        font-size: 1em;
    }
    .navbar_links ul li a:hover {
        color: var(--black);
        background-color: white;
        padding: .25rem 1rem;
        border-style: none;
    }
    .navbar_links ul {
        gap: 0;
    }
}

@media (max-width: 1000px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle_button {
        display: flex;
    }

    .navbar_links {
        display: none;
        width: 100%;
    }

    .navbar_links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar_links ul li {
        text-align: start;
    }

    .navbar_links ul li a {
        color: white;
        padding: .25rem 1rem;
        border-style: none;
    }

    .navbar_links ul li a:hover {
        color: var(--black);
        background-color: white;
        padding: .25rem 1rem;
        border-style: none;
    }

    .navbar_links.active{
        display: flex;
    }
}