.shift_container {
    margin: 1em;
}

.shift_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

}

.shift_title {
    font-family: 'Secular One', sans-serif;
    display: flex;
    align-items: center;
    gap: 1em;
}

.shift_type_icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    transition: .5s;
    font-size: 1.25em;
    box-shadow: 2px 3px 3px #ccc;
}

.shift_type_icon.morning {
    background-color: aquamarine;
    color: yellow;
}

.shift_type_icon.evening {
    background-color: navy;
    color: antiquewhite;
}

.cluster_container {
    padding: .5em;
    margin: .5em;
    background-color: var(--lighter-gray);
    border-radius: 10px;
    box-shadow: 2px 3px 3px #ccc;
}

.cluster_title {
    justify-self: flex-start;
    color: var(--black);
    font-family: 'Heebo', sans-serif;
}

.cluster_delete_button {
    font-size: 1em;
}

.staffs_container {
    margin: .5em 0;
}

.staff_row {
    display: flex;
    align-items: center;
    padding: .5em;
    gap: .5em;
}

.staff_score_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    gap: 2em;
    flex-wrap: nowrap;
    border-radius: 8px;
    background-color: var(--main-gray);
    box-shadow: 2px 3px 2px #aaa;
    flex-grow: 1;
}

.delete_button {
    color: #fff;
    background-color: var(--navbar-color);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--navbar-color);
    border-style: solid;
    transition: .3s;
}
.delete_button:hover {
    background-color: white;
    color: var(--black);
    border-color: var(--black);
}

@media (max-width:900px){
    .shift_container {
    margin: 1em .5em;
    }
    .shift_header{
        font-size: .75rem;
    }
    .cluster_container {
        margin: .5rem 0 ;
    }
    .staff_score_row{
        gap: 0;
        margin: .5rem 0 0;
    }
    .staff_row {
        padding: 0;
    }

    .staff_row .delete_button {
        display: none;
    }
}