.delete_button {
    color: #fff;
    background-color: var(--navbar-color);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--navbar-color);
    border-style: solid;
    transition: .3s;
}

.edit_button {
    color: #fff;
    background-color: var(--blue);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--blue);
    border-style: solid;
    transition: .3s;
}

.approve_button {
    color: #fff;
    background-color: var(--green);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--green);
    border-style: solid;
    transition: .3s;
}

.delete_button:hover ,.edit_button:hover , .approve_button:hover ,.back_button:hover{
    background-color: white;
    color: var(--black);
    border-color: var(--black);
}

.form_button {
    font-family: 'Heebo', sans-serif;
    font-size: 1.75rem;
    
    margin: 1em auto;
    padding: .2em .5em;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #aaa;
    border-style: solid;
    border-width: 2px;
    
    transition: .3s;
}

.form_button.save {
    background-color: var(--blue);
    border-color: transparent;
}

.form_button.add {
    background-color: var(--green);
    border-color: transparent;
}

.form_button.back {
    font-family: 'Secular One', sans-serif;
    background-color: transparent;
    border-color: transparent;
    color: #555;
    margin: 0;
}

.form_button.delete {
    font-family: 'Secular One', sans-serif;
    background-color: var(--navbar-color);
    border-color: transparent;
    margin: 0;
}

.form_button:hover{
    border-color: var(--black);
    color: var(--black);
    background-color: #fff;
}

@media (max-width:900px){

    .form_button.add{
        margin: 1rem auto;
    }
}



