:root {
    --main-bg-color: #FFFFFF;
    --main-gray: #bbb;
    --lighter-gray: #ddd;
    --accent-color-1: var(--main-gray);
    --black: #000;
    --navbar-color: #DC3444;
    --green: #25B345;
    --blue: #19709C;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--main-bg-color);
    color: var(--black);

    margin: 0;
}

.main-page {
    text-align: center;
}

.title {
    font-family: 'Heebo', sans-serif;
}

.main-container {
    border-radius: 20px;
    border-color: var(--black);
    border-style: solid;
    margin: 1em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    background-color: var(--lighter-gray);
}

@media (max-width: 900px){
    .main-container {
        border-style: none;
        margin: 0;
    }
    .title{
        margin: 0;
    }
}



