.date_input {
    font-size: 1.5em;
}

.date_title {
    font-family: 'Secular One', sans-serif;
}

.time_picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: .5em;
    font-size: 2em;
}
 
.time_section {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    transition: .5s;
}

.time_icon:hover {
    background-color: #ddd;
}

[data-selected='evening'] 
.time_icon.evening {
    background-color: navy;
    color: antiquewhite;
}

[data-selected='morning']
.time_icon.morning {
    background-color: aquamarine;
    color: yellow;
}