.date_input {
    font-size: 1.5em;
}

.date_title {
    font-family: 'Secular One', sans-serif;
}

.time_picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: .5em;
    font-size: 2em;
}
 
.time_section {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    transition: .5s;
}

.time_icon:hover {
    background-color: #ddd;
}

[data-selected='evening'] 
.time_icon.evening {
    background-color: navy;
    color: antiquewhite;
}

[data-selected='morning']
.time_icon.morning {
    background-color: aquamarine;
    color: yellow;
}

.new_staff_button {
    background-color: var(--green);
    margin: 0 .5rem;
    padding: .25em .5em;
    border-radius: 8px;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    align-self: flex-start;
    cursor: pointer;
    box-shadow: 2px 2px 2px #aaa;
}

.add_staff_title {
    font-size: 2em;
    margin: 0 .5em;
    font-family: 'Secular One', sans-serif;
    align-self: flex-start;
}

.staff_display {
    
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: #ddd;
    border-radius: 15px;
    margin: .5rem;
    padding: .5rem 0;
}

.staff_row {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    align-items: flex-start;
}

.delete_button {
    color: #fff;
    background-color: var(--navbar-color);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--navbar-color);
    border-style: solid;
    transition: .3s;
}

.staff_row_title {
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    
}

.delete_button:hover {
    background-color: white;
    color: var(--black);
    border-color: var(--black);
}

.staff_picker {
    /* style of the staff picker*/
    font-family: 'Heebo', sans-serif;
    font-size: 1.25em;
    border-radius: 8px;
}

.add_sales_grid {
    flex-grow: 3;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: .5em;
}

[data-selected='down']
.collapser {
    transition: .5s;
    transform: rotate(deg);
}

[data-selected='up']
.collapser {
    transition: .5s;
    transform: rotate(180deg);
}



