.date_input {
    font-size: 1.5em;
}

.date_title {
    font-family: 'Secular One', sans-serif;
}

.time_picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin: .5em;
    font-size: 2em;
}
 
.time_section {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_icon {
    height: 1em;
    width: 1em;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1em;
    vertical-align: middle;
    transition: .5s;
}

.time_icon:hover {
    background-color: #ddd;
}

[data-selected='evening'] 
.time_icon.evening {
    background-color: navy;
    color: antiquewhite;
}

[data-selected='morning']
.time_icon.morning {
    background-color: aquamarine;
    color: yellow;
}

.new_staff_button {
    background-color: var(--green);
    margin: 0 .5rem;
    padding: .25em .5em;
    border-radius: 8px;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    align-self: flex-start;
    cursor: pointer;
    box-shadow: 2px 2px 2px #aaa;
}

.add_staff_title {
    font-size: 2em;
    margin: 0 .5em;
    font-family: 'Secular One', sans-serif;
    align-self: flex-start;
}

.staff_display {
    
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: #ddd;
    border-radius: 15px;
    margin: .5rem;
    padding: .5rem 0;
}

.staff_row {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    padding: 1rem;
    margin: 0 .5rem;
    border-radius: 10px;
    align-items: flex-start;
}

.delete_button {
    color: #fff;
    background-color: var(--navbar-color);
    border-radius: .3rem;
    padding: .3em;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px #aaa;
    width: 1em;
    height: 1em;
    cursor: pointer;
    border-color: var(--navbar-color);
    border-style: solid;
    transition: .3s;
}
.delete_button:hover {
    background-color: white;
    color: var(--black);
    border-color: var(--black);
}

.staff_row_title {
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    width: 5em;
}


.staff_picker {
    /* style of the staff picker*/
    font-family: 'Heebo', sans-serif;
    font-size: 1.25em;
    border-radius: 8px;
}

.add_sales_grid {
    flex-grow: 3;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: .5em;
}

.collapser {
    transition: .5s;
    cursor: pointer;
}

[data-selected='down']
.collapser {
    transform: rotate(0deg);
}

[data-selected='up']
.collapser {
    transform: rotate(180deg);
}

.collapsed_row_item{
    
    align-self: center;
}

.form_button {
    font-family: 'Heebo', sans-serif;
    font-size: 1.75rem;
    
    margin: 1em auto;
    padding: .2em .5em;
    color: #fff;
    cursor: pointer;
    width: fit-content;
    border-radius: 8px;
    box-shadow: 2px 2px 2px #aaa;
    border-style: solid;
    border-width: 2px;
    
    transition: .3s;
}

.form_button.save {
    background-color: var(--blue);
    border-color: transparent;
}

.form_button.add {
    background-color: var(--green);
    border-color: transparent;
    margin: .5em;
}

.form_button:hover{
    border-color: var(--black);
    color: var(--black);
    background-color: #fff;
}

.sales_box {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding: .5em;
    flex-grow: 4;
    background-color: var(--lighter-gray);
    box-shadow :inset 2px 2px 2px #aaa;
    border-radius: 10px;
}

@media (max-width:900px){
    .staff_row{
        flex-wrap: wrap;
    }
    .staff_row_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .collapser{
        user-select: none;
    }
    .form_button {
        font-size: 1.25em;
    }
    .delete_button {
        font-size: 1em;
    }
    .time_section {
        font-size: 1.511rem;
    }
    .date_title{
        font-size: 1.5rem;
    }
    .staff_row_title .collapser {
        order: -1;
    }

    .staff_row .staff_row_title {
        order: -2;
    }

    .staff_row .delete_button {
        order: -1;
    }

    .sales_box.collapsed_row_item{
        width: 100%;
    }

    .staff_picker {
        order: -3;
    }
}




